/* Standard reset, sets margin and padding to 0 */
* {
  margin: 0;
  padding: 0;
  box-shadow: black;
}

/* Full webpage changes */
body {
  /* Sets the background color */
  background-color: #7dd0d2;
  /* Controls the width of the site */
  max-width: auto;
  width: 90%;
  /* Creates a gap between the edges of the page and the content */
  margin: 2em auto;
}

/* What holds the content */
.container {
  /* How the content is layed out */
  display: grid;
  /* How many columns there are */
  grid-template-columns: repeat(5, 2fr);
  /* Gap between separate boxes */
  gap: 15px;
  /* row height controls */
  grid-auto-rows: 100px;
}

/* style edits for header */
header {
  /* Curved border */
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  /* Sets header to span whole width */
  grid-column: 1/6;
  /* flex to organise items within */
  display: flex;
  flex-direction: row;
  /* sets items to middle */
  align-items: center;
  justify-content: center;
}

/* style edits for all boxes on grid */
.container > article {
  /* Curved border */
  border-radius: 4px;
  /* border styles */
  border: 2px dashed black;
  padding: 10px;
  background-color: cadetblue;
}

/* Style options for the songlist article */
#songlist {
  grid-column: 1/6;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

/* style options for the controls section */
#controls {
  grid-column: 2/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#skip-back-button-div {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
}

#pause-play-button-div {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}

#skip-forward-button-div {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
}

/* style options for the timer box */
#time-box {
  grid-column: 1/6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Styles for the seek bar */
#seek-bar {
  /*I hate commas, they caused my slider width to break cause i put 1,500px and it didn't like it */
  width: 1500px;
  height: 25px;
  accent-color: black;
}

#volume-control {
  display: flex;
  align-items: center;
  justify-content: center;
}
#volume-bar {
  width: 300px;
  accent-color: black;
}

.trackBtn,
#skip-back-button,
#skip-forward-button,
#pause-play-button,
#volume-bar,
#seek-bar:hover {
  cursor: pointer;
}

@media screen and (min-width: 1900px) {
  #songlist {
    grid-row: 2/7;
  }
}
