body {
    /* Custom font to use on all */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: 50px;
    font-weight: auto;
    font-style: normal;
    box-sizing: border-box;
}

header {
    color: white;
}

header>h1 {
    padding-left: 15px;
}

h4 {
    font-size: 20px;
}

#current-time {
    padding-right: 10px;
}

#total-time {
    padding-left: 10px;
}

#pause-play-button {
    height: 80px;
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
}

#skip-forward-button {
    height: 80px;
    width: auto;
}

#skip-back-button {
    height: 80px;
    width: auto;
}

#songname{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    gap: 20px;
}

img {
    width: 150px;
    height: auto;
}

section{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 2px dashed black;
}

section>h4{
    font-size: 30px;
}

section:hover{
    background-color: rgb(74, 123, 124);
}

#title-img, #current-song-img{
    width: 90px;
    height: auto;
}